@CHARSET "UTF-8";

.container {
    min-height: 350px;
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.PL-title {
    fill: black;
    font-family: Arial, serif;
    font-weight:bold;
    cursor:pointer;
}
